.Account{
    margin: 3% 20%;
    box-shadow: 1px 3px 7.5px rgba(0, 0, 0, 0.2);
    align-items: center;
    letter-spacing: 0.075em;
}

.Account--Form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0% 30%;
}

.Account--FormInside{
    margin: 30px 0px;
}
