
.nav {
    height: 100px;
    
    
    background-color: #faebd7;
    box-shadow: 1px 3px 7.5px rgba(0, 0, 0, 0.2);
    align-items: center;
    letter-spacing: 0.075em;
}
.nav--logo{
    margin-left: 100px;
    max-width: 100px;
    height: 90px;
    
    
}

.menu--item--button{
    padding-right: 100px;
    justify-content: center;
    display: flex;
}


.menu--right{
    padding-right: 100px;
    
}

.menu--item{
    justify-content: center;
    display: flex;
    
}